In [15]:
!pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.6/dist-packages (3.0.1)
Requirement already satisfied: py4j==0.10.9 in /usr/local/lib/python3.6/dist-packages (from pyspark) (0.10.9)

## **TẠO DATA FRAME**

In [22]:
from pyspark import SparkContext
#sc = SparkContext()
sqlContext = SQLContext(sc)

from pyspark.sql import Row
l = [('Ankit',25),('Jalfaizy',22),('saurabh',20),('Bala',26)]
rdd = sc.parallelize(l)
people = rdd.map(lambda x: Row(name=x[0], age=int(x[1])))
schemaPeople = sqlContext.createDataFrame(people)

In [23]:
type(schemaPeople)

pyspark.sql.dataframe.DataFrame

## **Tạo DataFrames từ danh sách các hàng**